.container {
  margin: 100px auto 0 auto;
  max-width: 1200px;
}
.nav-container {
  margin: auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  width: 200px;
  border-radius: 5px;
  border: 0;
  margin-left: 15px;
}
.button {
  margin-top: 30px;
}
link {
  margin-left: 15px;
}
.MuiButton-root {
  margin-right: 15px;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #9266ff;
  margin-right: 20px;
}
li {
  list-style: none;
  text-transform: uppercase;
  color: #000;
}
